<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftOCTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09D2819E213FB8B50094F7D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D281B6213FB8B60094F7D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D281C1213FB8B60094F7D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
